.document-card1{
    width: 130px;
    height: 175px;
    background-color: #DEDEE6;
    border-radius: 20px;
    opacity: 0.62;
}

.document-card2{
    width: 120px;
    height: 150px;
    margin-right: 40px;
    margin-bottom: 10px;
}