.document-card1{
    // width: 400px;
    // min-width: 400px;
    // height: 80px;
    // background-color: #DEDEE6;
    // border-radius: 8px;
    // img{
    //     opacity: 0.62;

    // }

    .drag-over {
        border: 2px dashed #0066cc; /* 드래그 중 강조 표시 */
        background-color: #f0f8ff; /* 드롭 가능 배경색 */
    }
}

.folder-header.drag-over,
.folder-footer.drag-over,
.document-card1.drag-over {
    border: 2px dashed #0066cc;
    background-color: #f0f8ff;
}

.document-card2{
    width: 120px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
}

