.main-content {
  display: flex;
  margin: 0 auto;
  min-height: 800px;
  height: 959px;
  box-sizing: border-box;
}
  
.main-layout {
  display: flex;
  flex-direction: column;
  height: 959px;
  box-sizing: border-box;
  align-items: center;
}

.content {
  background-color: #f1f1f8;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}
