.admin-card1 {
    width: 250px;
    height: 377px;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .admin-card1-1{
        width: 100%;
        
        span {
            float: right;
            font-size: 14px;
            color: #A3A3A3;
            margin-bottom: 20px;
        }
    }

    .admin-card1-2 {
        width: 100%;

        span {
            float: left;
            font-size: 24px;
            font-weight: 500;
            letter-spacing: -2px;
        }
    }

    .admin-card1-3 {
        height: 230px;
    }

    .admin-card1-4{
        display: flex;
        justify-content: flex-end;
    }
}

.admin-card2 {
    width: 360px;
    background-color: white;
    height: 320px;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .admin-card2-1 {
        width: 100%;

        span {
            float: left;
            font-size: 24px;
            font-weight: 500;
        }
    }

    .admin-card2-2 {
        height: 230px;
        display: flex;
        align-items: center;
        
        .admin-card2-circle {
            display: flex;
            gap: 60px;
        }
    }

    .admin-card2-3{
        display: flex;
        justify-content: flex-end;
    }

    
}