#home-container{
    // max-width: 1650px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 1650px;
    width: 100%;
    gap: 12px;
}

#home-container{

    .home-main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid gainsboro;
        border-left: none !important;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #f9f8f9;
        box-sizing: border-box;
    }

    .admin-index-top {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .home-top-left {
        background-color: #fff;
        width: 920px;
        height: 475px;
        border-radius: 30px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        flex: 0.6;
        
        .home-project{
            width: 300px;
            height: 370px;
            border-radius: 20px;
            border: 1px solid #D3D3D3;
            margin-top: 10px;
            box-shadow: 0 2px 8px #e3e3e3;
            padding: 20px;
        }
        .project-inbox{
            border: 1px solid #e3e3e3;
            min-height: 60px;
            border-radius: 10px;
            margin: 10px 0;
            padding: 10px;
            
            .project-content{
                font-size: 12px;
                color: #888;
                font-weight: 200;
            }
            .project-title{
                font-size: 15px;
            }
        }
        .progress-bar {
            width: 100%; 
            height: 10px; 
            background-color: #e0e0e0; 
            border-radius: 5px; 
            overflow: hidden; 
            position: relative;
        }
        
        .progress-fill {
        height: 100%; 
        background-color: #76c7c0; 
        width: 0; 
        transition: width 0.3s ease; 
        }
    }

    .home-top-right {
        height: 475px;
        width: 600px;
        display: flex;
        flex-direction: column;
        flex: 0.4;

        .home-my{
            background-color: #fff;
            border-radius: 30px;
            width: 100%;
            height: 45%;
        }
        .my-right{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .my-left{
            width: 70%;
            text-align: right;
            padding: 30px 40px;
        }
        .home-commute{
            background-color: #fff;
            border-radius: 30px;
            width: 100%;
            height: 55%;
            margin-top: 20px;
            display: flex;
            padding: 10px;
            flex-direction: column;
            align-items: center;
            .clock{
                p {
                    font-size: 50px;
                    height: 80px;
                    line-height: 100px;
                    font-weight: 200;
                }
            }
            .commute-inbox{
                width: 100%;
                height: 150px;
                padding: 15px;
                .commute-check{
                    border: 1px solid #D3D3D3;
                    width: 320px;
                    height: 100%;
                    border-radius: 20px;
                    .checktime{
                        width: 50%;
                        height: 100%;
                    }
                    .commute-allow{
                        width: 25px;
                        height: 25px;
                    }
                }
                .btn-commute{
                    width: 100%;
                    height: 55px;
                    border-radius: 10px;
                    font-size: 18px;
                }
            }
        }
        
    }
    
    .home-index-bot {
        height: 330px;
        display: flex;
        gap: 30px;
        width: 100%;
        justify-content: left;
        background-image: url('/images/home-user-img.png');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain; 
    }
    .home-bot{
        background-color: #fff;
        border-radius: 30px;
        height: 100%;
        width: 24%;
        padding: 15px 30px;
        min-width: 300px;
    }
    .schedule-content{
        font-size: 12px;
        color: #888;
    }

    .btn-home{
        border: 1px solid #6366F1;
        border-radius: 5px;
        padding: 1px 15px;
        color: #6366F1;
        max-height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}