#my-main-container {
height: 100%;
    display: flex;
    gap: 12px;
    width: 100%;

    .document-aside1 {
        width: 300px;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
    }
    .document-main1 {
        width: calc(100% - 312px);
        flex-grow: 1;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
    }

    .plan-img{
        width: 80px;
        height: 25px;
    }
    .plan-exp{
        list-style: disc;
        color: #999;
    }

    // main
    .my-main-main{
        height: 800px;
        display: flex;
        width: calc(100% - 312px);
        flex-grow: 1;
        border-radius: 20px;
    }
    .profile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }
    .myinfo{
        width: 50%;
        border-radius: 20px;
    }
    .current-plan{
        width: 50%;
        border-radius: 20px;    
    }
    .my-profile{
        width: 100%;
        min-width: 900px;
        background-color: #fff;
        border-radius: 20px;
        height: 100%;
        margin-right: 10px;
    }
    .profile-img{
        width: 200px;
        height: 200px;
    }
    .speech-bubble{
        width: 500px;
        height: 70px;
        // box-shadow: 2px 2px 8px #ccc;
        border-radius: 0 30px 30px 30px;
    }
    .my-sub-title{
        height: 40px;
        text-indent: 10px;
        border-bottom: 1px solid #e0e0e0;
    }
    .myinfo-table{
        text-indent: 30px;
        width: 100%;
        tbody{
            .my-tr{
                height: 30px;
            }
            .my-th{
                font-weight: 400;
                width: 100px;
                color: #666;
                text-align: left;
            }
            .my-td{
                color: #888;
                font-weight: 200;
            }
        }
    }
}


//aside
.my-aside{
    width: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    height: 800px;
}
.my-menu-allow{
    width: 15px;
    height: 15px;
}

#my-modify-container {
    height: 100%;
    display: flex;
    gap: 12px;
    width: 100%;

    .my-modify1{
        width: 70%;
        min-width: 900px;
        background-color: #fff;
        border-radius: 20px;
        height: 100%;
        margin-right: 10px;
        padding: 30px 70px;
    }

    .my-modify2{
        width: 30%;
        min-width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .my-del-account{
        width: 100%;
        height: 40%;
        background-color: #fff;
        border-radius: 20px;
        padding: 30px;
    }
    .my-social{
        margin-top: 15px;
        width: 100%;
        height: 60%;
        background-color: #fff;
        border-radius: 20px;
        padding: 30px;
    }

    .upload-photo{
        width: 100%;
        height: 250px;
    }
    .user-img{
        width: 200px;
        height: 200px;
    }

    .my-modify-form{
        width: 100%;

        .my-modify-input{
        border: 1px solid #ccc;
        height: 50px;
        border-radius: 3px;
        text-indent: 20px;
        margin-right: 10px;
        }
        .my-nick-inp{
            // border: 1px solid #ccc;
            height: 40px;
            border-radius: 3px;
            text-indent: 10px;
        }
        .my-modify-select{
        border: 1px solid #ccc;
        height: 50px;
        border-radius: 3px;
        text-indent: 20px;
        margin-right: 10px;
        }
    }
    .delete-inp{
        border: 1px solid #ccc;
        height: 40px;
        border-radius: 3px;
        text-indent: 20px;
        min-width: 200px;
        width: 80%;
    }
    .btn-delete{
    height: 40px;
    border-radius: 6px;
    width: 20%;
    min-width: 100px;
    }

}

#my-approval-container {
    height: 100%;
    display: flex;
    gap: 12px;
    width: 100%;

    .my-approval-main{
        height: 800px;
        display: flex;
        width: calc(100% - 312px);
        flex-grow: 1;
        border-radius: 20px;
        background-color: #fff;
    }
    .approval-table{
        .approval-tr{
            height: 50px;
        }
        .approval-th{
            font-weight: normal;
            color: #333;
        }
        .approval-td{
            color: #666;
        }
    }

}

#my-attendance-container {
    height: 100%;
    display: flex;
    gap: 12px;
    width: 100%;

    .my-attendance-main{
        height: 800px;
        display: flex;
        flex-direction: column;
        width: calc(100% - 312px);
        flex-grow: 1;
        border-radius: 20px;
        background-color: #fff;
    }
    .attend-arti{
        width: 100%;
        height: 100%;
    }
    .att-search{
        border: 1px solid #ddd;
        width: 100%;
        height: 100px;
        border-radius: 10px;
    }
    .att-graph{
        border: 1px solid #ddd;
        width: 100%;
        height: 350px;
        border-radius: 10px;
    }
    .search-sel{
        border: none;
        font-weight: 300;
    }
}
#my-payment-container {
    height: 100%;
    display: flex;
    gap: 12px;
    width: 100%;

    .my-payment-main{
        height: 800px;
        display: flex;
        width: calc(100% - 312px);
        flex-grow: 1;
    }
    .payment-arti1{
        width: 70%;
        border-radius: 20px;
        background-color: #fff;
        margin-right: 12px;
        padding: 30px;
    }
    .payment-arti2{
        width: 30%;
        height: 70%;
        border-radius: 20px;
        background-color: #fff;
    }
    .payment-icon-img{
        width: 80px;
        height: auto;
    }
    .payment-icon-img-m{
        width: 50px;
        height: auto;
    }
}


// my 공통 css
.btn-profile{
    height: 40px;
    min-height: 40px;
    padding: 0 40px;
    border-radius: 6px;
}
.btn-profile2{
    height: 40px;
    min-height: 40px;
    padding: 0 20px;
    border-radius: 6px;
}
.btn-my{
    height: 40px;
    min-height: 40px;
    padding: 0 20px 0 10px ;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-size-25{
    width: 25px;
    height: 25px;
}
.icon-size-50{
    width: 50px;
    height: 50px;
}
.progress-bar {
    width: 100%; 
    height: 8px; 
    background-color: #e0e0e0; 
    border-radius: 5px; 
    overflow: hidden; 
    position: relative;
}
.progress-fill {
height: 100%; 
width: 0; 
transition: width 0.3s ease; 
}
.alert-yeollow{
    background-color: #FFF6E5;
    color: #E8B041;
}
.popular{
    background-color: #E0E7FF;
    color: #818CF8;
    height: 23px;
    text-align: center;
    padding: 0 12px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
}
.expired{
    background-color: #FEE2E2;
    color: #F87171;
    height: 23px;
    text-align: center;
    padding: 0 12px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
}
.hidden-inp{
    width: 0;
    height: 0;
    overflow: hidden;
}
.card-inp1{
    height: 40px;
    width: 50%;
    border-radius: 4px;
    border: 1px solid #DBDBDB;
    text-indent: 10px;
}
.card-inp2{
    height: 40px;
    width: 24%;
    border-radius: 4px;
    border: 1px solid #DBDBDB;
    text-indent: 10px;
}
.input-lg{
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #DBDBDB;
    text-indent: 10px;
}
.input-sm{
    height: 40px;
    width: 24%;
    border-radius: 4px;
    border: 1px solid #DBDBDB;
    text-indent: 10px;
}
.planbox-label{
    width: 32%;
    height: 220px;
}
.planbox{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
input[type='radio'] {
    -webkit-appearance: none; // 웹킷 브라우저에서 기본 스타일 제거
    -moz-appearance: none; // 모질라 브라우저에서 기본 스타일 제거 
    appearance: none; // 기본 브라우저에서 기본 스타일 제거
    width: 15px;
    height: 15px;
    border: 2px solid #ccc; // 체크되지 않았을 때의 테두리 색상
    border-radius: 50%;
    outline: none; // focus 시에 나타나는 기본 스타일 제거
    cursor: pointer;
}
input[type='radio']:checked {
    background-color: #666CFF; // 체크 시 내부 원으로 표시될 색상
    border: 3px solid white; // 테두리가 아닌, 테두리와 원 사이의 색상
    box-shadow: 0 0 0 1.6px #666CFF; // 얘가 테두리가 됨
    // 그림자로 테두리를 직접 만들어야 함 (퍼지는 정도를 0으로 주면 테두리처럼 보입니다.)
    // 그림자가 없으면 그냥 설정한 색상이 꽉 찬 원으로만 나옵니다.
}

.alert-container {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
.alert-container.fade-out {
opacity: 0;
}