#admin-index-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .admin-index-top {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .admin-index-top-left {
        background-color: #f9f9fc;
        width: 904px;
        height: 475px;
        border-radius: 30px;
        padding: 30px;
        display: flex;
        align-items: center;

        .admin-index-top-project {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
        flex: 0.6;
    }

    .admin-index-top-right {
        height: 475px;
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0.4;
    }

    .admin-index-top-companyinfo {
        height: 178px;
        width: 100%;
        background-color: white;
        border-radius: 30px;
        padding: 30px;
        display: flex;
        justify-content: space-around;

        .companyinfo-left {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    .admin-index-top-attendance {
        height: 270px;
        width: 100%;
        background-color: #f9f9fc;
        border-radius: 30px;
        display: flex;
        padding: 30px;
        justify-content: space-between;
        .attendance-left {
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p {
                font-size: 50px;
            }
        }

        .attendance-right {
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    .admin-index-bot {
        height: 330px;
        display: flex;
        gap: 30px;
    }
}